.universityInfoContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.universityInfoColumn {
    border: 1px solid #ccc;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.universityInfoHeader {
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #f0f0f0;
    text-align: center;
    font-weight: bold;
}

.universityInfoList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.universityInfoList li {
    border-bottom: 1px solid #ccc; /* Add border between list items */
    padding: 0.5rem 1rem;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    display: block; /* Make list items display as block elements */
}

.universityInfoList li a {
    text-decoration: none;
    color: #333;
    display: block; /* Make links take up the full width */
}

.universityInfoList li:last-child {
    border-bottom: none; /* Remove border from last item */
}

.universityInfoContainer div div a {
    font-weight: bold;
}

.universityInfoList li a:hover {
    color: purple;
    border-color: purple;
}



/* Responsive layout */
@media (max-width: 1024px) {
    .universityInfoContainer {
        grid-template-columns: repeat(2, 1fr); /* 2x2 grid */
    }
}

@media (max-width: 600px) {
    .universityInfoContainer {
        grid-template-columns: 1fr; /* Single column */
    }
}
