.universityInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 6%;
    margin-right: 10%;
}

.universityInfoList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.universityInfoContainer table td, .universityInfoContainer table th{
    width: 20%;
    height: auto;
    margin-right: 2rem;
    border: 1px solid rgb(200, 198, 198);
    align-items: center;
}

.universityInfoContainer table{
    width: 100%;
}

.universityInfoContainer table td a{
    font-weight: bold;
}

.universityInfoContainer table td a:hover{
    color: purple;

}



.universityInfoContainer ul{
    list-style-type: square;
}

