.newsContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
    justify-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.newsSection{
    background-color: white;
    border-radius: 0.5rem;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    padding-top: 0.8rem;
}
.newsSection h2{
    padding-left: 1rem;
}

.new img{
    width: 28rem;
    height: auto;
    display: block;
    position: relative;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    max-width: 99.5%;
    display: block;
}

.new:hover{
    filter: brightness(0.8);
    color: purple;
}

.new{
    text-align: center;
}



@media (max-width: 1024px) {
    .newsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    .newsContainer {
        grid-template-columns: 1fr;
    }
}





