
ul{
    display: flex;
    align-items: center;
    gap:1.2rem;
    list-style: none;
}

li{
    margin-right: 1rem;
    white-space: nowrap;
}

.logo{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
    border: 0.2rem solid #a282d5;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.5);
    transition: filter 0.5s ease;
    margin-top: 0.25rem;
}

.logo:hover{
    filter: brightness(0.8);
}


.link{
    text-decoration: none;
    color: black;
    align-self: center;
    font-weight: bold;
    font-size:18px;
    padding: 0.5rem;
    position: relative;


    display: inline-block;
}


ul.dropdown a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
    bottom: 0.5rem;
}

ul.dropdown a:hover::before {
    transform: scaleX(1);
}




nav{
    background-color: #f3df64;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /*position: fixed;*/
    /*z-index: 998;*/
}

.heading{
    font-style: italic;
}




ul.dropdown li{
    display: block;
}

ul.dropdown {
    padding-left: 1rem;
    margin-left: 0.25rem;
    width: auto;
    position: absolute;
    z-index: 999;
    display: none;
    background-color: #f3df64;
    box-shadow: 0.5rem 0.5rem 0 black;
}

ul.dropdown li{
    padding-bottom: 1rem;
    position: relative;
}

ul.dropdown li:first-child{
    padding-top: 1rem;
}


ul li:hover ul.dropdown {
    display: block;
}

ul.dropdown a:hover{
    color: purple;
}





@media (max-width: 1024px) {
    ul {
        flex-direction: column;
        align-items: center;
    }

    li {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .logo {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .link {
        font-size: 16px;
        padding: 0.5rem;
    }
}


