.cardContainer{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    /*align-items: stretch;*/

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-content: center;
    gap: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}


.card{
    border: 1px solid rgb(200, 198, 198);
    border-radius: 10px;
    /*box-shadow:5px 5px 5px rgba(11, 11, 10, 0.1);*/
    padding: 3rem;
    margin: 1rem;
    text-align:center;
    max-width: 250px;
    display:inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex: 1;
}


.cardImage{
    height:5rem;
    width:auto;
    border-radius: 50%;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cardImage:hover{
    width:auto;
    transform: scale(1.2);
}

.card .card-title{
    font-family: Arial, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
}


.cardTitle:hover{
    color: purple;
}


@media (max-width: 1024px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
    }
}

/* Responsive layout for single column */
@media (max-width: 600px) {
    .cardContainer {
        grid-template-columns: 1fr; /* Single column */
    }
}

